:root{
    --negro: #000;
    --blanco:#fff;
    --grisOscuro:rgb(45,45,45,0.98)  ;
    --grisClaro:#fafafa ;
    --grisFooter: #f2f2f2 ;
    --grisLetrasFooter: #333 ;
    --grisBorde : #d6d6d6 ;
    --azulCLaro: #6df ;
    --azul: #0070c9
}

html{
    box-sizing: border-box;
    overflow: inherit ;

}


body{
    color: var(--negro);
}
p{
    margin:0;
    
    text-transform: uppercase;
}

.col-center{
    margin: 0 auto;
    text-align: center;
}


.header{
    width: 100%;
    height: 46px;
    background-color: var(--grisOscuro);
    position: fixed ;
    top: 0;
    z-index: 5;
}

.nav-principal a{
    font-size: 15px;
    margin: 10px;
    font-weight: 200;
    text-decoration: none;
    color: var(--blanco);
    transition: all 200ms;
    position: relative;
    right: 190px;
}

.nav-principal p{
    font-size: 15px;
    margin: 10px;
    font-weight: 200;
    color: var(--blanco);
    transition: all 200ms;
    color: blanchedalmond;
    position: relative;
    right: 250px;
}


.nav-principal a:hover{
    opacity: .5;
    text-decoration: none;
    color: #6df;
}

.icon{
    max-width: 50px;
    max-height: 45px;
    margin-top: -10px;
    position: relative;
    right: 50px;
    
    
}



input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
  
input[type=text]:focus {
    width: 350px;
}
  
#search{
  margin-top: 4px;
    height: 35px;
    position: relative;
    right: 150px;
    width: 650px;
}

#botonSearch{
    margin-left: 6px;
}


.cart{
    font-size: 15px;
    font-weight: 200;
    color: var(--blanco);
    position: relative;
    top: -33px;
    left: 900px;
    
    
    
}

#costado{
    position: relative;
    right: 250px;
}