:root{
    --negro: #000;
    --blanco:#fff;
    --grisOscuro:rgb(45,45,45,0.98)  ;
    --grisClaro:#fafafa ;
    --grisFooter: #f2f2f2 ;
    --grisLetrasFooter: #333 ;
    --grisBorde : #d6d6d6 ;
    --azulCLaro: #6df ;
    --azul: #0070c9
}

html{
    box-sizing: border-box;
    overflow: inherit ;

}


body{
    color: var(--negro);
}
p{
    margin:0;
    
    text-transform: uppercase;
}

.col-center{
    margin: 0 auto;
    text-align: center;
}


.header{
    width: 100%;
    height: 46px;
    background-color: var(--grisOscuro);
    position: fixed ;
    top: 0;
    z-index: 5;
}

.navv{
   
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    color: var(--blanco);
    transition: all 200ms;
    margin-left: -151px;
    margin-top: 10px;
}


.nav-principal p{
    font-size: 15px;
    margin: 10px;
    font-weight: 200;
    color: var(--blanco);
    transition: all 200ms;
    color: blanchedalmond;
    position: relative;
    right: 250px;
}


.nav-principal a:hover{
    opacity: .5;
    text-decoration: none;
    color: #6df;
}

.icon{
    max-width: 50px;
    max-height: 45px;
    margin-top: -10px;
    margin-left: -102px;
    margin-top: -2px;
    
}



input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 33px;
    margin-top: 2px;
}
  
  
input[type=text]:focus {
    width: 350px;
}

.input-icono{
  
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 28px;
    height: 30px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
  }
  
#search{
  margin-top: 4px;
    width: 570px;
    padding-left: 70px;
}

#botonSearch{
    margin-left: 4px;
    height: 34px;
    margin-top: 2px;
    border: rgba(255, 0, 0, 0);
    width: 40px;
    margin-left: 7px;
}


.cart{
    font-size: 15px;
    font-weight: 200;
    color: var(--blanco);
    position: relative;
    top: -33px;
    left: 900px;
    
    
    
}

#costado{
    position: relative;
    right: 250px;
}

.saludo{
    text-transform: uppercase;
    color: #d2cfcf;
    margin-top: 11px;
    margin-left: -57px;
    padding-left: 46px;
    font-weight: 400;
    margin-right: 45px;
}

.drop{

    color:black;
    position: relative;
    z-index: 50;
    color: var(--blanco);
    transition: all 200ms;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    margin-top: 3px;
}

.menudrop{
    cursor: pointer;
    font-size: 17px;
    font-family: unset;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: black;
    margin: 13px;
}

.buscador{
    display: flex;
    justify-content: center
}



#buscador{
	background-color: #ff000000;
    border: 0px;
    position: relative;
    top: 0px;
    right: 37px;
    color: #7a7878;
    display: flex;
    align-items: center;
    height: 37px;

}

.navv2{
    display: flex;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    color: var(--blanco);
    transition: all 200ms;
    margin-left: 30px;
    /* margin-top: 10px; */
    align-items: center;
}