.tarjeta{
 margin: auto;
  width: 50%;
    padding: 10px;
}

#imagenes{
    width: 0 auto; 
    height: 0 auto; 
    display: "flex";
    object-fit:"contain";
}

#cardcita{
    width: "450px"; 
    flex-wrap: wrap;
    height: "600px"; 
    display: "flex"
}

#agregarAlCarrito:hover{
    background-color: #819E31 !important;
    color: black !important;
}

#agregarAlCarrito:active{
  background-color: rgba(224, 31, 31, 0.692) !important;
  transition: 0.1s ease !important;
  transform: translateY(-10px) !important;
  color: rgb(231, 219, 219) !important;
  border: none !important;
 

}


.precioFinal{
    display: flex;
    justify-content: flex-end;
}

#imgCentradas {
    padding-left: 170px;
    padding-right: 190px;
    max-height: 325px;
  }

  .reviewssTitle{
    font-family: Gill Sans, sans-serif;
    margin-top: 66px;
    font-weight: lighter;
    margin-left: 20px
  }

  
  .reviewss{
    margin-top: 20px;
    margin-left: 35px;
  }

  .prueba{
    padding-left: 50px;
    padding-right: 50px
  }

  .carousel-control-prev{
    background-color:  rgba(116, 116, 116, 0.486)  !important;
    height: 35px !important;
    width: 36px !important;
    border-radius: 96px !important;
    margin-top: 150px !important;
    margin-left: 20px;

  }
  .carousel-control-next{
    background-color: rgba(116, 116, 116, 0.486) !important;
    height: 35px !important;
    width: 36px !important;
    border-radius: 96px !important;
    margin-top: 150px !important;
    margin-right: 50px !important;

}





