.beneficios{
    border-left: 1px solid #b0b0b0;
}

.loginh4{
    font-family: 'Hind', sans-serif;
    font-weight: bolder;
}

#login{
    text-align: center;
}

.submitButton{
    background-color: #A6CD3B !important;
    color: black !important;
    border: 1px solid #A6CD3B !important;
    font-family: 'Hind', sans-serif !important;
    font-weight: bolder !important;
    width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.submitButton:hover{
    background-color: #819E31 !important;
    color: black !important;
}

.centrado{
    text-align: center;
}

.peliculas p{
    margin-bottom: 0px;
}

.peliculas p:nth-child(3n){
    margin-bottom: 5px;
}

.fondo{
    margin-top: 70px;
}